@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  /* Primary: #FF5E1F (orange) */
  --color-brand-50: #FFF4EE;
  --color-brand-100: #FFE4D0;
  --color-brand-200: #FFC7A0;
  --color-brand-300: #FFA070;
  --color-brand-400: #FF7B43;
  --color-brand-500: #FF5E1F;
  --color-brand-600: #E84A07;
  --color-brand-700: #BA3C06;
  --color-brand-800: #8C2D05;
  --color-brand-900: #6C2104;
  --color-brand-950: #420F02;

  /* Secondary: #1FC0FF (cyan) */
  --color-accent-50: #EEF9FF;
  --color-accent-100: #D5F2FF;
  --color-accent-200: #AAEAFF;
  --color-accent-300: #6FDAFF;
  --color-accent-400: #43CCFF;
  --color-accent-500: #1FC0FF;
  --color-accent-600: #07ACEB;
  --color-accent-700: #0689BE;
  --color-accent-800: #046A93;
  --color-accent-900: #045470;
  --color-accent-950: #022F3F;
}

/* Dark mode design tokens */
.dark {
  --ui-bg: transparent;
  --ui-bg-elevated: rgb(10 10 10 / 0.1);
  --ui-bg-accented: rgb(20 20 20 / 0.1);
}

html,
body {
  background-color: #000000;
}
