@import "tailwindcss";
@import "@nuxt/ui";
@import "@cloud-start-page/theme/index.css";

/* Dark mode design tokens */
.dark {
  --ui-bg: transparent;
  --ui-bg-elevated: rgb(10 10 10 / 0.1);
  --ui-bg-accented: rgb(20 20 20 / 0.1);
}

html,
body {
  background-color: #000000;
}
